$brand-color: #E31F24;
$header-color-text: #333333;
$semi-bold: 600;
$bold: 700;
$widthWindow: 1266px;
$width100: 100%;
$f_family: 'Montserrat', sans-serif;
$regular: 400;
$semi_bold: 600;
$border_color: #DEDEDD;
$widthWindowHeader: 1266px;
$cl_title: #000000;
$cl_text: #76787D;